<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gespro</property>
    <property name="hibernate.connection.username">daniel</property>
    <property name="hibernate.connection.password">d</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping resource="com/tsp/gespro/hibernate/pojo/UsuarioMonitor.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/Moneda.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/Promotorproyecto.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/Usuarios.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/EtiquetaFormularioSucursal.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/CampoAdicionalProspecto.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/CampoAdicionalSucursalValor.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/CampoAdicionalCliente.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/CampoAdicionalClienteValor.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/EtiquetaFormularioProspecto.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/EtiquetaFormularioCliente.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/CampoAdicionalSucursal.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/CampoAdicionalProspectoValor.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/Proyecto.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/Producto.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/Cliente.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/Actividad.hbm.xml"/>
    <mapping resource="com/tsp/gespro/hibernate/pojo/Cobertura.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
